## General
.cvs
.htaccess
.svn
*.bak
*.log
*.swp
/.idea
/logs
/cache
/vendor
/private/
project.properties
project.xml
/.env
/.vscode
/node_modules
/dineawards-js/node_modules
/sitemap/

## Windows
Desktop.ini
Thumbs.db

## Mac
.DS_Store

## WordPress
wp-content
wp-config.php
wp-content/uploads/
wp-content/blogs.dir/
wp-content/upgrade/
wp-content/backup-db/
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
wp-content/cache/*
wp-content/cache/supercache/*
wp-content/cache/
wp-content/backups/
wp-admin/
wp-includes/
wp-activate.php
wp-blog-header.php
wp-comments-post.php
wp-config-sample.php
wp-config.php
wp-cron.php
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-trackback.php
wp-signup.php
sitemap.xml
sitemap.xml.gz
xmlrpc.php
license.txt
