.banner {
  min-height: calc(100svh - 81px);

  &__img-wrap {
    width: 100%;
    height: 313px;
    background-color: #ccc;
    margin: 0 0 20px 0;

    img {
      object-fit: cover;
    }
  }

  &__logo {
    width: 100%;

    img {
      object-fit: contain;
      object-position: left;
    }
  }

  &__img-wrap , &__logo {
    img {
      width: 100%;
      height: 100%;
    }
  }

  &__title {
    max-width: 185px;
    margin: 0 0 20px 0;
    text-transform: uppercase;
    color: #2f80ed;

    span {
      display: inline-block;
    }
  }

}



// 768  //

@media screen and (min-width: 768px) {
  .banner {
    min-height: calc(100svh - 123px);

    &__img-wrap {
      height: 487px;
      margin: 0 0 40px 0;
    }

    &__title {
      max-width: 375px;
      margin: 0 0 43px 0;
    }
  }
}

// 1024 //

@media screen and (min-width: 1024px) {
  .banner {
    min-height: calc(100svh - 103px);

    &__img-wrap {
      height: 411px;
      margin: 0 0 30px 0;
    }

    &__title {
      max-width: 375px;
      margin: 0;
    }

    &__logo {
      width: 553px;
      height: 88px;

      img {
        object-position: right;
      }

    }

    &__content {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }
  }
}

// 1440 //

@media screen and (min-width: 1281px) {
  .banner {
    min-height: calc(100vh - 100px);

    &__img-wrap {
      height: 506px;
      margin: 0 0 40px 0;
    }

    &__logo {
      width: 717px;
      height: 114px;
    }
  }
}

// 1920 //
@media screen and (min-width: 1770px) {
  .banner {
    min-height: calc(100vh - 131px);

    &__title {
      max-width: 443px;
    }

    &__img-wrap {
      height: 600px;
      margin: 0 0 50px 0;
    }

    &__logo {
      width: 862px;
      height: 137px;
    }
  }
}