.header {
  position: sticky;
  top: 0;
  padding: 20px 0;
  background: #fff;
  z-index: 100;

  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__select-btn, &__call-phone-btn, &__text-burg {
    display: none;
  }

  &__phone {
    display: flex;
    width: 41px;
    height: 41px;
    border-radius: 50%;
    border: 1px solid #2f80ed;
    background: #fff url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2014%2013.98%22%3E%3Cpath%20d%3D%22M13.48.67a.59.59%2C0%2C0%2C1%2C.38.22A.72.72%2C0%2C0%2C1%2C14%2C1.3a12.43%2C12.43%2C0%2C0%2C1-1.72%2C6.39%2C12.75%2C12.75%2C0%2C0%2C1-4.57%2C4.57A12.46%2C12.46%2C0%2C0%2C1%2C1.31%2C14a.54.54%2C0%2C0%2C1-.41-.13.47.47%2C0%2C0%2C1-.22-.39L0%2C10.62a.5.5%2C0%2C0%2C1%2C.05-.44.58.58%2C0%2C0%2C1%2C.33-.3L3.47%2C8.57a.57.57%2C0%2C0%2C1%2C.39%2C0%2C1.22%2C1.22%2C0%2C0%2C1%2C.38.22L5.58%2C10.4a9.4%2C9.4%2C0%2C0%2C0%2C2.84-2%2C10%2C10%2C0%2C0%2C0%2C2-2.85L8.78%2C4.22a.74.74%2C0%2C0%2C1-.22-.35.53.53%2C0%2C0%2C1%2C0-.41L9.9.39a.58.58%2C0%2C0%2C1%2C.3-.32A.72.72%2C0%2C0%2C1%2C10.64%2C0Z%22%20transform%3D%22translate(0%200)%22%2F%3E%3C%2Fsvg%3E") no-repeat center;
    background-size: 14px;
    font-size: 0;
    line-height: 0;
  }


  &__burger-btn {
    display: flex;
    align-items: flex-end;
    gap: 10px;
    font: 600 12px/12px "Proxima Nova", sans-serif;
    letter-spacing: 0.07em;
    text-transform: uppercase;

    &:hover {
      .header__lines-wrap::before {
        transform: translateY(-3px);
      }
      .header__lines-wrap::after {
        transform: translateY(3px);
      }
    }
  }

  &__lines-wrap {
    display: grid;
    gap: 4px;

    &::before, &::after {
      content: '';
      transition: transform 0.2s;
    }
  }

  &__lines-wrap::before, &__lines-wrap::after, &__line {
    display: block;
    width: 29px;
    height: 2px;
    background-color: #000;
  }

  &__logo-wrap {
    width: 130px;
    height: 21px;
    transition: transform 0.3s;

    &:hover {
      transform: scale(1.1);
    }

    svg {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

// 768  //

@media screen and (min-width: 768px) {
  .header {
    padding: 40px 0;

    &__wrap {
      justify-content: normal;
    }

    &__text-burg {
      display: inline-block;
    }

    &__logo-wrap {
      width: 155px;
      height: 25px;
      margin: auto;
    }

    &__phone {
      width: 43px;
      height: 43px;
      border-color: #d7d7d7;
    }

    &__select-btn {
      display: flex;
      border: 1px solid #2f80ed;
      border-radius: 100px;
      padding: 0 40px 0 18px;
      background: #2f80ed url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2012.95%207.41%22%3E%3Cpath%20d%3D%22M13%2C.77A.45.45%2C0%2C0%2C1%2C13%2C1a.3.3%2C0%2C0%2C1-.09.24L6.83%2C7.42a.48.48%2C0%2C0%2C1-.27.09.29.29%2C0%2C0%2C1-.23-.09L.18%2C1.27A.3.3%2C0%2C0%2C1%2C.09%2C1%2C.45.45%2C0%2C0%2C1%2C.18.77L.76.18A.3.3%2C0%2C0%2C1%2C1%2C.09a.48.48%2C0%2C0%2C1%2C.26.09l5.3%2C5.3L11.87.18a.33.33%2C0%2C0%2C1%2C.26-.09.32.32%2C0%2C0%2C1%2C.23.09Z%22%20transform%3D%22translate(-0.09%20-0.09)%22%20style%3D%22fill%3A%23fff%22%2F%3E%3C%2Fsvg%3E") no-repeat;
      background-size: 12px 13px;
      background-position: center right 17px;
      text-transform: uppercase;
      font: 600 12px/12px "ProximaNova Bold", sans-serif;
      letter-spacing: 0.07em;
      color: #fff;

      &::before, &::after {
        background-color: #2f80ed;
      }
    }

    &__lines-wrap::before, &__lines-wrap::after, &__line {
      width: 32px;
      background-color: #2F80ED;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header {
    &__burger-btn {
      order: 0;
      margin: 0 62px 0 0;
    }

    &__phone {
      order: 1;
    }

    &__logo-wrap {
      order: 2;
    }

    &__select-btn {
      order: 3;
    }

  }
}

// 1024 //

@media screen and (min-width: 1024px) {
  .header {
    padding: 30px 0;

    &__burger-btn {
      margin: 0 25px 0 0;
    }

    &__call-phone-btn {
      display: flex;
    }

    &__select-btn {
      padding: 0 42px 0 20px;
    }

    &__phone {
      flex-direction: column;
      background: transparent;
      width: auto;
      height: auto;
      border: 0;
      transition: width .3s;
      font: 600 13px/13px "Proxima Nova", sans-serif;

      &::after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background-color: #2f80ed;
        transition: width .3s;
      }
      &:hover {
        color: #2f80ed;
        &::after {
          width: 100%;
        }
      }
    }

    &__call-phone-btn {
      margin: 0 0 0 35px;
      text-transform: uppercase;
      font: 600 12px/12px "Proxima Nova", sans-serif;
      letter-spacing: 0.07em;
      color: #2f80ed;
      
      &::before, &::after {
        background-color: #fff;
      }
    }

    &__call-phone-btn.button--animate  {
      height: 12px;
      min-height: auto;


      &::before, &::after {
        display: none;
      }
    }
  }
}

// 1440 //

@media screen and (min-width: 1281px) {
  .header {
    padding: 29px 0 28px 0;
    &__burger-btn {
      gap: 12px;
      margin: 0 40px 0 0;
    }

    &__burger-btn , &__select-btn, &__call-phone-btn {
      font: 600 13px/13px "Proxima Nova", sans-serif;
    }

    &__phone {
      font: 600 14px/14px "Proxima Nova", sans-serif;
    }
  }
}

// 1920 //
@media screen and (min-width: 1770px) {
  .header {
    padding: 40px 0;

    &__lines-wrap {
      gap: 6px;
    }

    &__logo-wrap {
      width: 187px;
      height: 30px;
    }

    &__burger-btn {
      gap: 15px;
      margin: 0 43px 0 0;
    }

    &__burger-btn , &__select-btn, &__call-phone-btn {
      font: 600 15px/15px "Proxima Nova", sans-serif;
    }

    &__phone {
      font: 600 17px/17px "Proxima Nova", sans-serif;
    }
  }
}