h2 {
  font: 400 11px/15px "Proxima Nova", sans-serif;
  color: #2f80ed;
}

.h2 {
  font: 400 13px/19px "Proxima Nova", sans-serif;
}

// 768 //
@media screen and (min-width: 768px) {
  .h2 {
    font: 400 26px/36px "Proxima Nova", sans-serif;
  }
}


// 1024 //
@media screen and (min-width: 1024px) {
  .h2 {
    font: 400 19px/27px "Proxima Nova", sans-serif;
  }
}

// 1440 //
@media screen and (min-width: 1281px) {
  h2 {
    font: 400 13px/18px "Proxima Nova", sans-serif;
  }

  .h2 {
    font: 400 26px/36px "Proxima Nova", sans-serif;
  }
}

// 1920 //
@media screen and (min-width: 1770px) {
  h2 {
    font: 400 17px/24px "ProximaNova-Regular", sans-serif;
  }

  .h2 {
    font: 400 31px/43px "ProximaNova-Regular", sans-serif;
  }
}

