@use '../scss/modules/_common';

body {
  background-color: #ccc;
}

.card {
  max-width: 768px;
  width: 100%;
  padding: 24px 24px 16px 24px;
  background-color: #fff;
  border-radius: 8px;

  &__top {
    display: flex;
    justify-content: space-between;
    padding: 0 0 20px 0;
    border-bottom: 1px solid #e4e4e4;
  }

  &__profile {
    //display: flex;
    //align-items: center;
    display: grid;
    grid-template-columns: auto 1fr 1fr;
    align-items: center;
    gap: 12px;
  }

  &__avatar {
    flex-shrink: 0;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__user-name {
    margin: 0 0 2px 0;

    h4 {
      font: 600 14px/16px "ProximaNova-SemiBold", sans-serif;
    }
  }

  &__profile-statistics {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  &__statistics-item {
    display: flex;
    flex-direction: column;
    min-width: 64px;

    &--font-bold {
      font: 600 14px/16px "ProximaNova-SemiBold", sans-serif;
    }
  }

  &__info-statistics {
    p {
      font: 400 14px/16px "ProximaNova-Regular", sans-serif;
      color: rgba(0, 0, 0, 0.4);
    }
  }

  &__title-statistics {
    display: flex;

    &.roi-statistics {
      &::after {
        content: ', %';
        display: block;
      }
    }

    &--font-light {
      font: 400 12px/14px "ProximaNova-Regular", sans-serif;
    }

    &--green {
      color: #62b435;
    }

    &--red {
      color: #f64747;
    }

    &--gray {
      color: #00000066;
    }
  }

  &__number-statistics {
    margin: 4px 0 0 0;
    padding: 4px 0 0 0;
    border-top: 1px solid #e4e4e4;
    font: 600 14px/16px "ProximaNova-SemiBold", sans-serif;

    &--green {
      color: #62b435;
    }

    &--red {
      color: #f64747;
    }

    &--gray {
      color: #00000066;
    }
  }

  &__content {
    position: relative;

    &.active-full-content {
      .card__text-content::after {
        display: none;
      }

      .card__text-content p {
        -webkit-line-clamp: unset;
      }

      .card__show-more-btn {
        transform: rotate(180deg);
      }
    }
  }

  &__text-content {
    padding: 20px 0 24px 0;


    p {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 5;
      overflow: hidden;
      color: rgba(0, 0, 0, 0.6);
    }


    &::after {
      content: '';
      position: absolute;
      bottom: 27px;
      left: 0;
      right: 0;
      display: block;
      width: 100%;
      height: 27px;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
      z-index: 1;
    }
  }

  &__show-more-btn {
    position: absolute;
    bottom: -20px;
    left: 0;
    right: 0;
    width: 40px;
    height: 40px;
    margin: 0 auto;
    border-radius: 50%;
    transition: 0.3s;
    box-shadow: 2px 4px 12px 0 rgba(0, 0, 0, 0.08);
    background: #fff url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2011.23%206.23%22%3E%3Cpath%20d%3D%22M.56.56a.63.63%2C0%2C0%2C1%2C.88%2C0L6%2C5.12%2C10.56.56a.63.63%2C0%2C0%2C1%2C.88%2C0%2C.62.62%2C0%2C0%2C1%2C0%2C.87l-5%2C5a.63.63%2C0%2C0%2C1-.88%2C0l-5-5A.62.62%2C0%2C0%2C1%2C.56.56Z%22%20transform%3D%22translate(-0.38%20-0.38)%22%20style%3D%22fill-opacity%3A0.4000000059604645%3Bfill-rule%3Aevenodd%22%2F%3E%3C%2Fsvg%3E") no-repeat center;
    background-size: 11px 6px;
    z-index: 2;
  }

  &__forecast-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 -24px;
    padding: 25px 24px;
    border-left: 2px solid #3498db;
    background-color: rgba(240, 241, 242, 0.4);;
  }

  &__logo-coef {
    width: 32px;
    height: 32px;
    margin: 0 12px 0 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__title-forecast {
    display: inline-block;
    text-transform: uppercase;
    font: 600 12px/14px "ProximaNova-SemiBold", sans-serif;
    color: rgba(0, 0, 0, 0.4);
  }


  &__desc-forecast {
    font: 600 18px/20px "ProximaNova-SemiBold", sans-serif;
    color: rgba(0, 0, 0, 0.8);
  }

  &__make-bet-btn {
    padding: 12px 17px;
    border-radius: 4px;
    transition: 0.2s;
    background-color: #3498db;
    font: 600 14px/16px "ProximaNova-Regular", sans-serif;
    color: #fff;

    &:hover {
      background-color: #47aef1;
    }
  }

  &__coefficient-wrap {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__content-coefficient {
    display: flex;
    margin: 0 16px 0 0;

    p {
      display: inline-flex;
      flex-direction: column;
      font: 400 12px/14px "ProximaNova-Regular", sans-serif;
      color: #333;
    }

    span {
      font: 600 20px/24px "ProximaNova-Regular", sans-serif;
      color: rgba(0, 0, 0, 0.8);
    }
  }

  &__forecast-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}

@media screen and (min-width: 744px) {
  .card {
    &__content-coefficient {
      &--device {
        display: none;
      }
    }
  }
}


@media screen and (max-width: 743px) {
  .card {
    padding: 16px 16px 12px 16px;

    &__top {
      flex-direction: column;
      padding: 0 0 16px 0;
    }

    &__profile {
      grid-template-columns: auto 1fr;
      grid-template-areas:
        "avatar user-name"
        "avatar statistics";
      gap: 2px 8px;
    }

    &__avatar {
      grid-area: avatar;
    }

    &__user-name {
      grid-area: user-name;
      margin: 0;
    }

    &__statistics {
      grid-area: statistics;
    }

    &__info-statistics {
      span {
        display: none;
      }
    }

    &__title-statistics {
      align-items: center;

      &.roi-statistics {
        &::after {
          display: none;
        }
      }
    }

    &__statistics-item {
      flex-direction: row;

      &:not(:has(.roi-statistics)) .card__title-statistics {
        display: none;
      }

    }

    &__profile-statistics {
      gap: 13px;
    }

    .roi-statistics {
      margin: 0 5px 0 0;
    }

    &__number-statistics {
      margin: 0;
      padding: 0;
      border: none;
    }

    &__statistics-item {
      min-width: auto;

      &:last-of-type {
        margin: 0 0 0 auto;
      }

      &:not(:has(.profit-statistics)) .card__number-statistics {
        font: 400 14px/16px "ProximaNova-Regular", sans-serif;
      }
    }

    &__statistics-item:nth-child(-n+3) {
      position: relative;

      &::after {
        content: '/';
        position: absolute;
        top: 0;
        right: -8px;
        color: #e4e4e4;
      }
    }


    &__profile-info {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    &__text-content {
      padding: 16px 0;

      &::after {
        bottom: 20px;
      }
    }

    &__show-more-btn {
      bottom: -22px;
    }


    &__content-coefficient {
      &--desktop {
        display: none;
      }
    }
  }


}
